<html>
    <head>
        <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    </head>
    <script src="socket.io/socket.io.js"></script>
    <script src="siofu/client.js"></script>

    <style>
    /* body {
      background-color: #74EBD5;
      background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    
      min-height: 100vh;
    } */
    body {
    background-color: #616464;
    background-image: linear-gradient(90deg, #5a5e5d 0%, #222224 100%);
    min-height: 100vh;
}
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    ::-webkit-scrollbar-track {
      width: 5px;
      background: #f5f5f5;
    }
    
    ::-webkit-scrollbar-thumb {
      width: 1em;
      background-color: #ddd;
      outline: 1px solid slategrey;
      border-radius: 1rem;
    }
    
    .text-small {
      font-size: 0.9rem;
    }
    
    .messages-box,
    .chat-box {
      height: 350px;
      overflow-y: scroll;
    }
    
    .rounded-lg {
      border-radius: 0.5rem;
    }
    
    input::placeholder {
      font-size: 0.9rem;
      color: #999;
    }

    .hidden {
      display: none;
    }

    .list-group-item {
      padding: 5px 10px;
    }
    </style>
    <body>
        <div class="container text-white">

          <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#" id="notificationalert"></a>
              </li>
            </ul>
          </nav>

<!-- 


          <div class="container">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">
                <label class="custom-file-label" for="customFileInput">Select file</label>
              </div>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="customFileInput">Upload</button>
              </div>
            </div>
          </div> -->
            <!-- For demo purpose-->
            <header class="text-center">
              <h1 class="display-4 text-white">Chat</h1>
            </header>

          
            <button id="newupload">New upload</button>

            <button id="uploadpercentage"></button>

            <button id="cancelrunningupload">Cancel upload</button>
          
            <div class="row rounded-lg overflow-hidden shadow py-2">
              <div class="col-3" style="border-right: 2px solid #fff;">
                <div class="row text-center"> <div class="col-md-12 text-white"><center><u>Online User</u></center></div></div>
                <div class="row" id="userlist"></div>
              </div>
              <div class="col-9 px-0 justify-content-center" align="center" style="text-align: center;" id="home_msg_body">
                <div >
                  <h2>Welcome To Chat Application</h2>
                </div>
                <div >
                  <p>Select Online user to chat</p>
                </div>
              </div>
              <div class="col-9 px-0 hidden" id="message_body">
                <div class="row chat-box px-4 py-5 chat-box mainchatboxwindows" id="main_msg_body" ></div>
                <div class=" row input-group">
                  <div class="col-md-2">
                    <div class="btn-group dropup">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        UPLoad
                      </button>
                      <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <input type="file" id="siofu_input" class="form-control" style="width: 50%;" />

                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <input type="text" id="textAreaExample" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  </div>
                  <div class="col-md-2">
                    <div class="input-group-append">
                      <button id="button-addon2" type="button" id="senmessahe" class="btn btn-link"> <i class="fa fa-paper-plane" id="senmessahe"></i></button>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script>
        var socket = io('/', {path: "/tt/socket.io"});
        // var mksocket = io('/mk');

        socket.on('welcome', data => {
          console.log(data)
        })

        // mksocket.on('welcome', data => {
        //   console.log(data)
        // })
        $("#siofu_input").change(()=>{
          alert()
        })

        $("#newupload").click(()=>{
        })

        // var SocketIOFileUpload = require('socketio-file-upload');

        var uploader = new SocketIOFileUpload(socket);
        // uploader.chunkSize = 1024 * 1000

        uploader.listenOnInput(document.getElementById("siofu_input"));


        uploader.addEventListener("progress", function(event){
            var percent = event.bytesLoaded / event.file.size * 100;
            console.log("File is", Math.round(percent.toFixed(2)), "percent loaded");
            $("#uploadpercentage").text(Math.round(percent.toFixed(2)))
        });

        $("#cancelrunningupload").click(()=>{
          socket.emit('cancelupload', 'cancel')
        })

        


        let allusers = []
        let currentMessage = []
        let MainUserId = null
        let messagebodyid = null
        let tousername = null
        let selectedUserId = null
        let currentprivatetoid = null
        let notificationsCount = {}
        const username = '<%= username %>'
        console.log(username)
        socket.auth = { username };
        socket.connect();

        
        var input = document.getElementById('textAreaExample');
            socket.on('welcomemk', (_msg) => {
              MainUserId = socket.id
                console.log(_msg)
            })

            socket.on("users", (users) => {
              console.log(users)
                MainUserId = socket.id
                users.forEach((user) => {
                    user.self = user.userID === socket.id;
                });
                // put the current user first, and then sort by username
                // console.log(allusers)
                $("#userlist").html('')
                users.forEach((element, index) => {
                    if(!element.self){
                      $("#userlist").append(` <a style="width:100%;border:1px solid #fff;padding:5px;margin:10px" class="mb-2">
                        <div class="chatprivatebtnclick mb-2" bodyiddata="${MainUserId+element.userID}" username="${element.username}" fromid="${element.userID}" ${currentprivatetoid == element.userID?'style="border-bottom:5px solid red"':''}>
                            <div class="col-12">
                              <div class="ml-2">
                                <div class="align-items-center mb-1">
                                <div class="text-break text-white" style="font-size:16px;font-weight:800;">${element.username} ${element.self?'(you)':''}</div>
                                <div class="badge badge-dark" id="${element.userID}count"></div>
                                <div id="${element.userID}typingstatus" style="font-size:7px"></div>
                                </div>
                              </div>
                            </div>    
                        </div>
                    </a>`)
                }
                });
            });

            if('<%= username %>' == '' || '<%= username %>' == undefined) {
                window.location.assign('/')
            }

            socket.on("private_message", ({ content, from, to,sentdate,username }) => {
              
              if(currentMessage[String(from)+String(to)]) {
                currentMessage[String(from)+String(to)].push({msg:content, sendby: from,sentdate})
              } else {
                currentMessage[String(from)+String(to)] = []
                currentMessage[String(from)+String(to)].push({msg:content, sendby: from, sentdate})
              }
              let convertdate = new Date(sentdate)
              if(currentprivatetoid == from){
                $(`#${messagebodyid}`).append(`<div class="media w-50 mb-3">
                    <div class="media-body ml-3">
                      <div class="bg-light rounded py-1 px-1 mb-1">
                        <p class="text-small mb-0 text-muted">${username}</p>
                        <h6 class="pl-1">${content}</h6>
                      </div>
                      <p class="small text-muted">${convertdate.toLocaleString()}</p>
                    </div>
                  </div>`)
                var scrollBottom = $(`#${messagebodyid}`).scrollTop() + $(`#${messagebodyid}`).height();
                $(`#${messagebodyid}`).scrollTop(scrollBottom)
              } else {
                // console.log(notificationsCount[from])
                $("#notificationalert").text(`Message from ${username}`)
                if(notificationsCount[from] == undefined) {
                  notificationsCount[from] = 1
                  console.log(notificationsCount)
                } else {
                  notificationsCount[from] += 1
                }
                console.log(`#${from}count`)
                $(`#${from}count`).text(notificationsCount[from])
                console.log(notificationsCount)
              }

            });

            function loopmsgdata(data) {
              data.forEach(element => {
                  // console.log(element.sendby, MainUserId)
                    let convertdate = new Date(element.sentdate)
                    if(element.sendby == MainUserId) {
                      $(`#${messagebodyid}`).append(`<div class="media  ml-auto w-50 mb-3">
                        <div class="media-body ml-3">
                          <div class="bg-light rounded py-1 px-1 mb-1">
                            <p class="text-small mb-0 text-muted">you</p>
                            <h6  class="pl-1">${element.msg}</h6>
                          </div>
                          <p class="small text-muted">${new Date()}</p>
                        </div>
                      </div>`);
                    } else {
                      $(`#${messagebodyid}`).append(`<div class="media w-50 mb-3">
                        <div class="media-body ml-3">
                          <div class="bg-light rounded py-1 px-1 mb-1">
                            <p class="text-small mb-0 text-muted">${tousername}</p>
                            <h6 class="pl-1">${element.msg}</h6>
                          </div>
                          <p class="small text-muted">${convertdate.toLocaleString()}</p>
                        </div>
                      </div>`)
                    }
                    var scrollBottom = $(`#${messagebodyid}`).scrollTop() + $(`#${messagebodyid}`).height();
                    $(`#${messagebodyid}`).scrollTop(scrollBottom)
                });
            }
            
            $(document).on("click",".chatprivatebtnclick", function(){
                $(".chatprivatebtnclick").css({'border':'none'})
                $("#message_body").removeClass('hidden')
                $("#home_msg_body").addClass('hidden')
                $(this).css({'border-bottom':'5px solid red'})
                // console.log(String($(this).attr("fromid"))+String(MainUserId))
                messagebodyid = $(this).attr('bodyiddata')
                $(".mainchatboxwindows").attr("id",$(this).attr('bodyiddata'))
                $(`#${messagebodyid}`).html('')
                tousername = $(this).attr('username')
                $("#senmessahe, #textAreaExample").attr('toooid', $(this).attr("fromid"))
                $(`#${$(this).attr("fromid")}count`).text('')
                currentprivatetoid = $(this).attr("fromid")
                if(currentMessage[String($(this).attr("fromid"))+String(MainUserId)]) {
                  loopmsgdata(currentMessage[String($(this).attr("fromid"))+String(MainUserId)])
                }
            })

            $("#textAreaExample").keydown(function() {
              socket.emit('private_message_typing', {toid: $(this).attr('toooid'), fromid: MainUserId, username})
            })
            socket.on('private_message_typing', data => {
              $(`#${data.fromid}typingstatus`).text(`${data.username} is typing...`)
            })

            $("#textAreaExample").keyup(function() {
              socket.emit('private_message_not_typing', {toid: $(this).attr('toooid'), fromid: MainUserId})
            })

            socket.on('private_message_not_typing', data => {
              $(`#${data.fromid}typingstatus`).text('')
            })

          $("#senmessahe").click(function(){
            let getmesg = $("#textAreaExample").val()
            console.log($(this).attr('toooid'), MainUserId)
            $("#textAreaExample").val('')
            let getcurrent = new Date()
            $(`#${messagebodyid}`).append(`<div class="media  ml-auto w-50 mb-3">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-1 px-1 mb-1">
                  <p class="text-small mb-0 text-muted">you</p>
                  <h6 class="pl-1">${getmesg}</h6>
                </div>
                <p class="small text-muted">${getcurrent.toLocaleString()}</p>
              </div>
            </div>`);
            from = $(this).attr('toooid')
            to = MainUserId
            console.log('while msg sending', String(from)+String(to))
            if(currentMessage[String(from)+String(to)]) {
              currentMessage[String(from)+String(to)].push({msg:getmesg, sendby: to, sentdate: new Date()})
            } else {
              currentMessage[String(from)+String(to)] = []
              currentMessage[String(from)+String(to)].push({msg:getmesg, sendby: to, sentdate: new Date()})
            }

            var scrollBottom = $(`#${messagebodyid}`).scrollTop() + $(`#${messagebodyid}`).height();
                $(`#${messagebodyid}`).scrollTop(scrollBottom)
                console.log({content: getmesg, from: MainUserId, to: $(this).attr('toooid'),username:username,sentdate: new Date()})
            socket.emit('private_message', {content: getmesg, from: MainUserId, to: $(this).attr('toooid'),username:username,sentdate: new Date()})
          })
    </script>
</html>